body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 10px 0;
}

.header, .footer {
  background: #eee;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: row-reverse;
}

.main-content, .sidebar {
  padding: 10px;
}

.sidebar a {
  color: #fff;
  display: block;
}

.main-content {
    flex: 1;
  }

td {
    width: 200px;
    text-align: center;
}

.question-button {
    margin: 20px;
}

.question-bubble-outline {
    float: left;
    margin: 37px;
}

.completed-answers {
    margin-left: auto;
    margin-right: auto;
    width: 565px;
}

.sidebar {
    width: 180px;
  }

.header-row {
    font-size: 60px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#pointTable {
    table-layout: fixed;
    width: 200px;
}

.game-board {
    width: 600px;
}

td.game-select-question {
    cursor: pointer;
    width: 200px;
    height: 150px;
    max-height: 150px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, #55f, #00c, #0000a3, #000066);
    box-shadow: #000000 0px 0px 6px inset;
    border-radius: 7px;
    border: 1px solid black;
    color: white;
    vertical-align: middle !important;
    overflow: hidden;
    word-wrap: break-word;
}

.game-cell .answered-right {
    background: linear-gradient(to bottom, #5a5, #070, #070, #204020);
    color: white;
}

.game-cell .answered-wrong {
    background: linear-gradient(to bottom, #333, #000, #000, #000000);
    color: red;
}

body {
    color: white;
    background-color: rgb(22, 2, 134);
    font-family: "VT323", "Open Sans", sans-serif;
}

.submitter-text {
    font-size: 21px;
    color: white;
    margin-top: 5px;
}

.right-answer-choice {
    width: 150px;
    padding: 5px;
    font-size: 30px;
    color: #FFFFCC;
    background-color: #009900;
    text-align: center;
}

.wrong-answer-choice {
    width: 150px;
    padding: 5px;
    font-size: 30px;
    color: #FFFFCC;
    background-color: #CC3300;
    text-align: center;
}

#answers {
    border-collapse: separate;
    border-spacing: 15px;
}

.answer {
    width: 500px;
    max-height: 60px;
    margin: 15px;
    font-size: 26px;
    text-align: left;
    color: #FFFFFF;
    padding: 2px;
    padding-left: 10px;
    border: 2px solid white;
    cursor: pointer;
    background-color: #3399FF;
}

    .answer.show-wrong {
        background-color: #CC3300;
        color: black;
    }

    .answer.show-correct {
        background-color: #009900;
    }

.question-bubble {
  height: 60px;
  width: 60px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #12CEFE;
    font-size: xx-large;
}

.questions {
    min-height: 350px;
}

#question-title {
    text-align: center;
    font-size: 40px;
}

.title-title {
    text-align: center;
    font-size: 50px;
}

#question-text {
    text-align: center;
    font-size: 30px;
}

.title-text {
    text-align: center;
    font-size: 45px;
}

.normal-text {
    font-family: Tahoma, Geneva, sans-serif;
}

.question-bubble.show-wrong {
        background-color: #CC3300;
    }

    .question-bubble.show-correct {
        background-color: #009900;
    }
.cross {
    transform: rotate(45deg);
    margin: auto;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, transparent 35%, black 35%, black 65%, transparent 65%), linear-gradient(to right, transparent 35%, black 35%, black 65%, transparent 65%);
}

#timespan {
    color: white;
    font-size: 30px;
    margin: 15px;
}

.hiddent-content {
    color: white;
    font-size: 17px;
}

#question-controls {
    margin: 10px;
}
