/* latin */
@font-face {
  font-family: 'DSEG7 Modern';
  font-style: normal;
  font-weight: 400;
  src: local('DSEG7 Modern'), local('DSEG7 Modern Regular'), url(DSEG7Modern-Regular.woff2) format('woff2');
  unicode-range: U+0022-00B1;
}
